*

!Dockerfile
!package.json
!package-lock.json
!tsconfig.server.json

!public/
!public/**

!src/
!src/**

!database/
!database/migrations/
!database/migrations/*.sql

!scripts/
!scripts/database/
!scripts/database/migrate.js
